In [6]:
import pandas as pd

In [7]:
df =pd.read_csv("./data/train.csv")

In [10]:
df =df[["transaction_real_price", "dong"]]
df["idx"] = df.index

In [20]:
df

         transaction_real_price     dong      idx
0                         37500      신교동        0
1                         20000      필운동        1
2                         38500      필운동        2
3                        118000      내수동        3
4                        120000      내수동        4
...                         ...      ...      ...
1216548                   22000  정관읍 용수리  1216548
1216549                   30750  정관읍 용수리  1216549
1216550                   29500  정관읍 용수리  1216550
1216551                   26700  정관읍 용수리  1216551
1216552                   28800  정관읍 용수리  1216552

[1216553 rows x 3 columns]

In [11]:
a = {}

In [ ]:
a["key"] = "value"

In [23]:
a

{'key': 5, '신교동': 0}