## ex 3 - round

In [6]:
a = 3.1415
print(round(a, 2))

a=5
b=3
print(round(a/b,5))
print(int(a/b))

3.14
1.66667
1

## ex 9 - 몫, 나머지

In [3]:
a = 7
b = 2
print(a/b)
print(a//b)
print(a%b)

3.5
3
1

## ex 14 & 16 - max, min

In [5]:
a = 7
b = 3
print(max(a, b))
print(min(a, b))

7
3

In [6]:
c = 11
d = 2
print(max(a, b, c, d))
print(min(a, b, c, d))

11
2

In [8]:
arr = [3, 65, 34, 8, 1, 27]
print(max(arr))
print(min(arr))

65
1

## ex 17 - range 설정

In [9]:
data = 73.5

if 0 <= data <= 50:
    print("low")
elif 50 < data <= 73:
    print("mid")
# elif 74 <= data <= 100:
#     print("high")
    
#좀 더 general 하게
elif 73 < data <= 100:
    print("high")

high

## ex 19 - 문제 읽고 다시 풀기

## ex 21 - strip
어떤게 질문?

In [14]:
a ='##abc..'
a = a.lstrip('#').rstrip(".")
a

'abc'

## ex 31 - 예약어

In [20]:
sum = 0
val = 0

for i in range(11):
    val += 1
    print(val)
print(val)

1
2
3
4
5
6
7
8
9
10
11
11

In [18]:
a = [1, 2, 3]
sum(a)

TypeError: 'int' object is not callable

## ex 36 - 왜 오답일까요?

In [18]:
# while 은 조건에 해당하는 한 무한으로 반복 !!
# while 조건에 data의 범위를 0~100 까지 지정했는데 data가 계속 0
# 무한 루프에 빠짐

# += 를 사용하여 다시 코드 작성

## ex 37 - break 조건문, 반복문 중단

In [26]:
passwd = input()
while True:
    if passwd != str(4321):
        print("비밀번호가 틀렸습니다.")
        passwd = input()
    else:
        print("비밀번호가 맞았습니다.")
        break

4322
비밀번호가 틀렸습니다.
4321
비밀번호가 맞았습니다.

## ex 38 - []
어떤거 질문?

In [32]:
newlist = []
num_list = [0, -11, 31, 22, -11, 33, -44, -55]

for index in num_list: #8번
    if index>0:
        newlist.append(index)
print(newlist)

[31, 22, 33]

In [33]:
num_list.remove(-11)
num_list

[0, 31, 22, -11, 33, -44, -55]

## ex 40 - reverse()

In [34]:
# for문에 reverse()를 못쓰는 이유
a = [4, 65, 123, 87, 32]
a.reverse()

In [35]:
a

[32, 87, 123, 65, 4]

In [36]:
b = a.reverse()

In [37]:
b

In [38]:
type(b)

NoneType

In [41]:
a[:]

[4, 65, 123, 87, 32]

In [42]:
b = a[::-1]

In [47]:
c = [1, 2,3, 4, 5, 6, 7, 8, 9, 10]
c[1::2]
c[::2]

[1, 3, 5, 7, 9]

In [48]:
b

[32, 87, 123, 65, 4]

In [49]:
for i in a.reverse():
    print(i)

TypeError: 'NoneType' object is not iterable

In [50]:
for i in a[::-1]:
    print(i)

4
65
123
87
32

In [58]:
a.sort()

In [60]:
a.reverse()

In [61]:
a

[123, 87, 65, 32, 4]

In [55]:
for i in a.sort():
    print(i)

TypeError: 'NoneType' object is not iterable

In [53]:
a.sort(reverse=True)

In [54]:
a

[123, 87, 65, 32, 4]

## ex 44
시연님 답이 더 좋음

## ex 45 - dict.items() 
### ex 55, 56, 57도 items() 활용해서 다시!

In [69]:
exchange = {'달러':1112, '위안':171, '엔':1010}
for a, b in exchange.items():
    print(a)
    print(b)

달러
1112
위안
171
엔
1010

In [70]:
exchange.items()

dict_items([('달러', 1112), ('위안', 171), ('엔', 1010)])

In [74]:
exchange = {'달러':1112, '위안':171, '엔':1010}
prices = input()
for key, val in exchange.items():
    print(key, val)
    if prices.split(" ")[1] == key:
        print(int(prices.split(" ")[0]) * val, '원')
        
        #string format
#         print("{}원".format(int(prices.split(" ")[0])*val))

122 달러
달러 1112
135664 원
위안 171
엔 1010

## ex 52 - 왜 list?

In [76]:
tupledata =(1, 2, 3, 4)
tupledata_2 = tupledata[1:]
print(tupledata, tupledata_2)

(1, 2, 3, 4) (2, 3, 4)

## items()

In [71]:
dict_all = {'environment': '환경', 'gonernment':'정부, 정치'}
dict2 = {'company': '회사', 'face':'얼굴'}
dict3 = {'apple': '사과'}

#dict_all[dict2.keys()]=dict2.values()

dict2.keys()

dict_keys(['company', 'face'])

In [72]:
for k, v in dict2.items():
    dict_all[k] = v
for k, v in dict3.items():
    dict_all[k] = v
    
print(dict_all)

{'environment': '환경', 'gonernment': '정부, 정치', 'company': '회사', 'face': '얼굴', 'apple': '사과'}

## ex 62 - set
어떤게 질문?

In [80]:
number_list2=[1, 2, 3]
number_list2.append(4)
number_list3=set(number_list2)
number_list3.update([5])#★

print(number_list2)
print(number_list3)

[1, 2, 3, 4]
{1, 2, 3, 4, 5}

## ex 65 - argument 인자

In [92]:
def funcoding(a, b, c):
    print(a)
    print(b)
    print(c)
    
funcoding(1,2,3)

1
2
3

In [93]:
def funcoding(var):
    #var = 'dd'
    print(var)
    
funcoding('dd')

dd

## ex 67 - return

In [94]:
def func_1(a):
    print(a)

def func_2(a):
    return a

In [95]:
func_1(1)

1

In [96]:
func_2(1)

1

In [97]:
a = func_1(1)

1

In [99]:
type(a)

NoneType

In [102]:
b = func_2(1)

In [103]:
b

1

## ex 68 - eval

In [101]:
# eval 은 string을 수식으로 바꿔서 연산

In [104]:
a = "2+4"
b = "3"
eval(a)

6

In [108]:
print(type(a+b))
print(a+b)

<class 'str'>
2+43

In [117]:
eval(a+b)

45

In [110]:
multi = "*"
print(a+multi+b)
eval(a+multi+b)

2+4*3

14

In [111]:
def calulator(a, b, c):
    return eval(str(a)+c+str(b))

In [117]:
calulator(2,3,"*")

6

## ex 70

In [118]:
["Fun"]*10

['Fun', 'Fun', 'Fun', 'Fun', 'Fun', 'Fun', 'Fun', 'Fun', 'Fun', 'Fun']

In [121]:
[0, 1]*10

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [122]:
def muliple_list(arr, num):
    return arr*num

In [123]:
arr = ["Fun"]
muliple_list(arr, 3)

['Fun', 'Fun', 'Fun']

In [126]:
[1, 2] + [3, 4]

[1, 2, 3, 4]

In [127]:
a = [1, 1, 1, 1, 1, 2]
b = set(a)
b

{1, 2}