# Chapter 1. 판다스 자료구조

In [67]:
#pandas 호출 
#as 뒤에 alias 지정
import pandas as pd

## 시리즈 만들기
~~~python
딕셔너리 → 시리즈 변환 : pandas.Series(dict)
~~~

In [7]:
#pandas 호출 
#as 뒤에 alias 지정
import pandas as pd

In [68]:
#키 → 인덱스 / 밸류 → 데이터

dict_data = {'a': 1, 'b': 2, 'c': 3}

In [69]:
# 판다스 Series() 함수로 딕셔너리(dict_data)를 시리즈로 변환. 변수 sr에 저장

# sr =

In [70]:
#sr의 자료형 출력

In [71]:
#sr에 저장되어 있는 시리즈 객체 출력

## 시리즈 인덱스
~~~python
인덱스 배열 : Series.index
데이터 값 배열 : Series.value
~~~

In [72]:
#리스트 → 시리즈 변환
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]

In [73]:
# 리스트를 시리즈로 변환하여 변수 sr에 저장

#sr =

In [74]:
#시리즈 객체 출력

In [75]:
# 인덱스 배열은 변수 idx에 저장
# 데이터 값 배열은 변수 val에 저장

#idx = 
#val =

In [76]:
# 인덱스, 데이터 각각 출력

## 원소 선택
~~~python
정수 인덱싱 : Series[숫자]
이름 인덱싱 : Series["이름"]
여러 원소 인덱싱 : Series[index, index]
구간 인덱싱 : Series[index:index]
~~~

In [77]:
# 튜플을 시리즈로 변환(index 옵션에 인덱스 이름을 지정)
# 인덱스 이름(순서대로) : ['이름', '생년월일', '성별', '학생여부']
tup_data = ('영인', '2010-05-01', '여', True)

#sr =

In [78]:
# 원소를 1개 선택
# sr의 1 번째 원소를 선택 (정수형 위치 인덱스를 활용)

# '이름' 라벨을 가진 원소를 선택 (인덱스 이름을 활용)

In [79]:
# 여러 개의 원소를 선택 (인덱스 리스트 활용)

In [80]:
# 여러 개의 원소를 선택 (인덱스 범위 지정)

## 데이터 프레임 만들기
~~~python
딕셔너리 → 데이터 프레임 : pandas.DataFrame(딕셔너리 객체)
~~~

In [81]:
# 열 이름을 key로 하고, 리스트를 value로 갖는 딕셔너리 정의(2차원 배열)
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

#df =

In [82]:
# df의 자료형 출력

# 변수 df에 저장되어 있는 데이터프레임 객체를 출력

## 행 인덱스 / 열 이름 설정
~~~python
행 인덱스 / 열 이름 설정 : pandas.DataFrame(2차원 배열, index=행 인덱스 배열, columns=열 이름 배열)
~~~

In [83]:
# 행 인덱스/열 이름 지정하여, 데이터프레임 만들기

# 데이터 = [[15, '남', '덕영중'], [17, '여', '수리중']]
# 행 인덱스 = ['준서', '예은']
# 열 이름 = ['나이', '성별', '학교']

#df =

In [84]:
# 데이터 프레임, 행 인덱스, 열 이름 확인하기

## 행 인덱스 /열 이름 변경하기 #1
~~~python
행 인덱스 변경 : df.index = [행 인덱스]
열 이름 변경 : df.columns = [열 이름]
~~~

In [85]:
# 행 인덱스, 열 이름 변경하기
# 행 인덱스 = ['학생1', '학생2']
# 열 이름 = ['연령', '남녀', '소속']

In [86]:
# 데이터 프레임, 행 인덱스, 열 이름 확인하기

## 행 인덱스 /열 이름 변경하기 #2
~~~python
행 인덱스 변경 : df.rename(index={기존 인덱스: 새 인덱스, 기존 인덱스: 새 인덱스, ..., 기존 인덱스: 새 인덱스})
열 이름 변경 : df.rename(columns={기존 이름: 새 이름, 기존 이름: 새 이름, ..., 기존 이름: 새 이름})
~~~

In [87]:
# 열 이름 중, '나이'를 '연령'으로, '성별'을 '남녀'로, '학교'를 '소속'으로 바꾸기

# df의 행 인덱스 중에서, '준서'를 '학생1'로, '예은'을 '학생2'로 바꾸기

In [88]:
# df 출력(변경 후)

## 행/열 삭제하기
~~~python
행 삭제 : df.drop(행 인덱스/배열, axis=0)
열 삭제 : df.drop(열 이름/배열, axis=1)
~~~

In [89]:
# DataFrame() 함수로 데이터프레임 변환
# 변수 df에 저장 
# index=['서준', '우현', '인아']
exam_data = {'수학' : [ 90, 80, 70], '영어' : [ 98, 89, 95],
             '음악' : [ 85, 95, 100], '체육' : [ 100, 90, 90]}

#df =

### 행 삭제

In [90]:
# 데이터프레임 df를 복제하여 변수 df2에 저장
# df2의 1개 행(row)을 삭제

In [91]:
# 데이터프레임 df를 복제하여 변수 df3에 저장
# df3의 2개 행(row)을 삭제

### 열 삭제

In [92]:
# 데이터프레임 df를 복제하여 변수 df4에 저장
# df4의 1개 열(column)을 삭제

In [93]:
# 데이터프레임 df를 복제하여 변수 df5에 저장
# df5의 2개 열(column)을 삭제

## 행 선택
~~~python
df.loc[행 이름] / df.iloc[인덱스]
~~~

In [94]:
# 행 인덱스를 사용하여 행 1개를 선택
# loc 인덱서 활용

# iloc 인덱서 활용

In [95]:
# 행 인덱스를 사용하여 2개 이상의 행 선택
# loc 인덱서 활용

# iloc 인덱서 활용

In [96]:
# 행 인덱스의 범위를 지정하여 행 선택
# loc 인덱서 활용

# iloc 인덱서 활용

### 행 선택 심화 ‼️

In [97]:
# iloc 슬라이싱 간격
# 행 인덱스를 사용하여 iloc로 홀수 행만 출력

## 열 선택
~~~python
열 1개 선택 : df[열 이름] / df.열 이름 (열 이름이 문자열일 경우만 가능)
열 n개 선택 : df[열 이름 배열]
~~~

In [98]:
# '수학' 점수 데이터만 선택
# 변수 math1에 저장

In [99]:
# '영어' 점수 데이터만 선택
# 변수 english에 저장

In [100]:
# '음악', '체육' 점수 데이터를 선택
# 변수 music_gym 에 저장

In [101]:
# '수학' 점수 데이터만 선택
# 변수 math2에 저장

## 원소 선택
~~~python
인덱스 이름 : df.loc[행 이름, 열 이름]
정수형 : df.iloc[행 번호, 열 번호]
~~~

In [102]:
# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
# 새로운 인덱스 지정: df.set_index()

In [103]:
# 데이터프레임 df의 특정 원소 1개 선택 ('서준'의 '음악' 점수)

In [104]:
# 데이터프레임 df의 특정 원소 2개 이상 선택 ('서준'의 '음악', '체육' 점수)

In [105]:
# df의 2개 이상의 행과 열로부터 원소 선택 ('서준', '우현'의 '음악', '체육' 점수)

## 열 추가
~~~python
df[추가 하려는 열 이름] = (시리즈) 데이터
~~~

In [106]:
# 데이터프레임 df에 '국어' 점수 열(column)을 추가
# 데이터 값은 80 지정

## 행 추가
~~~python
df.loc[새로운 행 이름] = (시리즈) 데이터
~~~

In [112]:
# 새로운 행(row)을 추가 - 같은 원소 값을 입력
# 데이터 = 0

In [114]:
# 새로운 행(row)을 추가 - 원소 값 여러 개의 배열 입력
# 데이터 = ['동규', 90, 80, 70, 60]

In [113]:
# 새로운 행(row)을 추가 - 기존 행을 복사
# 3번째 행 복사

## 원소 값 변경
~~~python
df 객체 또는 원소 선택 = 데이터
~~~

In [115]:
# '이름' 열을 새로운 인덱스로 지정하고, df 객체에 변경사항 반영
# 새로운 인덱스 지정: df.set_index()

In [117]:
# 데이터프레임 df의 특정 원소를 변경하는 방법: '서준'의 '체육' 점수
# iloc - 80

In [118]:
# loc - 90

In [119]:
# loc - 100

In [120]:
# 데이터프레임 df의 원소 여러 개를 변경하는 방법: '서준'의 '음악', '체육' 점수
# loc - 50

In [121]:
# loc - 100, 50

## 행, 열의 위치 바꾸기
~~~python
df.transpose() / df.T
~~~

In [ ]:
# 데이터프레임 df를 전치하기 (transpose() 메소드 활용)

In [122]:
# 데이터프레임 df를 다시 전치하기 (T 클래스 속성 활용)

## 특정 열을 행 인덱스로 설정
~~~python
df.set_index([열 이름]) / df.set_index(열 이름)
~~~

In [123]:
# 특정 열(column)을 데이터프레임의 행 인덱스(index)로 설정 
# '이름'

In [125]:
# 특정 열(column)을 데이터프레임의 행 인덱스(index)로 설정 
# '음악'

In [127]:
# 특정 열(column)을 데이터프레임의 행 인덱스(index)로 설정 
# '수학', '음악'

## 행 인덱스 재배열
~~~python
df.reindex(새로운 인덱스 배열)
~~~

In [128]:
# 딕셔서리를 데이터프레임으로 변환
# index = [r0, r1, r2]
dict_data = {'c0':[1,2,3], 'c1':[4,5,6], 'c2':[7,8,9], 'c3':[10,11,12], 'c4':[13,14,15]}

In [129]:
# 인덱스 재지정
# index = [r0, r1, r2, r3, r4]

In [130]:
# reindex로 발생한 NaN값을 숫자 0으로 채우기
# fill_value

## 행 인덱스 초기화
~~~python
df.reset_index()
~~~

In [131]:
# 행 인덱스를 정수형으로 초기화

## 행 인덱스를 기준으로 데이터프레임 정렬
~~~python
df.sort_index()
~~~

In [132]:
# 내림차순으로 행 인덱스 정렬 
# ascending 클래스 속성

## 특정 열의 데이터 값을 기준으로 데이터프레임 정렬
~~~python
df.sort_values()
~~~

In [133]:
# c1 열을 기준으로 내림차순 정렬
# by 클래스 속성

## 시리즈와 숫자
~~~python
Series + 연산자(+, -, *, /) + 숫자
~~~

In [134]:
# 딕셔너리 데이터로 판다스 시리즈 만들기
# 딕셔너리 = {'국어':100, '영어':80, '수학':90}

In [135]:
# 학생의 과목별 점수를 200으로 나누기

## 시리즈와 시리즈
~~~python
Series + 연산자(+, -, *, /) + Series
~~~

In [136]:
# 딕셔너리 데이터로 판다스 시리즈 만들기
# 딕셔너리 1 = {'국어':100, '영어':80, '수학':90}
# 딕셔너리 2 = {'수학':80, '국어':90, '영어':80}

In [137]:
# 두 학생의 과목별 점수로 사칙연산 수행
#덧셈

#뺄셈

#곱셈

#나눗셈

In [138]:
# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
# index=['덧셈', '뺄셈', '곱셈', '나눗셈']

### 시리즈와 시리즈 - NaN

In [139]:
# 딕셔너리 데이터로 판다스 시리즈 만들기
# 딕셔너리 1 = {'국어':np.nan, '영어':80, '수학':90}
# 딕셔너리 2 = {'수학':80, '국어':90}

In [140]:
# 두 학생의 과목별 점수로 사칙연산 수행
#덧셈

#뺄셈

#곱셈

#나눗셈

In [141]:
# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
# index=['덧셈', '뺄셈', '곱셈', '나눗셈']

## 연산 메서드
~~~python
연산 결과 NaN 값 대체 : fill_value()
~~~

In [142]:
# 딕셔너리 데이터로 판다스 시리즈 만들기
# 딕셔너리 1 = {'국어':np.nan, '영어':80, '수학':90}
# 딕셔너리 2 = {'수학':80, '국어':90}

In [143]:
# 두 학생의 과목별 점수로 사칙연산 수행 (연산 메소드 사용)
# fill_value, 0

#덧셈

#뺄셈

#곱셈

#나눗셈

In [144]:
# 사칙연산 결과를 데이터프레임으로 합치기 (시리즈 -> 데이터프레임)
# index=['덧셈', '뺄셈', '곱셈', '나눗셈']

## 데이터 프레임과 숫자
~~~python
DataFrame + 연산자(+, -, *, /) + 숫자
~~~

In [150]:
import seaborn as sns

# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
# 열 = ["age", "fare"]
titanic = sns.load_dataset('titanic')

In [151]:
# 데이터프레임에 숫자 10 더하기

## 데이터 프레임과 데이터 프레임
~~~python
DataFrame + 연산자(+, -, *, /) + DataFrame
~~~

In [152]:
# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
# 열 = ["age", "fare"]
titanic = sns.load_dataset('titanic')

In [153]:
# 데이터프레임에 숫자 10 더하기

In [154]:
# 데이터프레임끼리 연산하기 (additon - df)